<header class="header">
  <div class="navbar">
    <div class="container">
      <div class="header-content">
        <div class="logo">
          <a href="#top">
            <div class="logo-left">
              <span class="logo-rudigoz">Rudigoz</span>
              <span class="logo-associes">& ASSOCIÉS</span>
            </div>
            <div class="logo-right">
              <span class="logo-knight">Knight</span>
              <span class="logo-frank">Frank</span>
            </div>
          </a>
        </div>
        <nav class="nav">
          <a href="#qui-sommes-nous">QUI SOMMES NOUS?</a>
          <a href="#notre-metier">NOTRE METIER</a>
          <a href="#nos-bureaux">NOS OFFRES</a>
          <a href="#actualites">ACTUALITES</a>
          <a href="#references">NOS REFERENCES</a>
          <a href="#contact">NOUS CONTACTER</a>
        </nav>
      </div>
    </div>
  </div>
</header>
