<section class="qui-sommes-nous" id="qui-sommes-nous">
  <div class="qsn-container">
    <div class="qsn-blue-band"></div>
    <div class="qsn-content">
      <div class="qsn-left">
        <h2>Qui sommes nous?</h2>
        <div class="orange-line"></div>
        <div class="qsn-columns">
          <div class="qsn-col">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
          </div>
          <div class="qsn-col">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
          </div>
          <div class="qsn-col">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
          </div>
        </div>
        <button (click)="scrollToOffres()" class="qsn-btn">VOIR NOS BIENS</button>
      </div>
      <div class="qsn-right">
        <div class="qsn-image-block">
          <img src="assets/images/our-office.png" alt="Notre bureau" class="qsn-image">
          <img src="assets/images/DOTS.png" alt="" class="qsn-dots-img">
        </div>
      </div>
    </div>
  </div>
</section>
